{% extends 'layout.html.twig' %}

{% block title %}
    {% if admin is not null %}
        Modification de "{{ admin.username }}"
    {% else %}
        Création d'un admin
    {% endif %}

{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/connexion-admin">Deconnexion<span class="sr-only"></span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admins">Liste Administrateurs <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/users">Liste Utilisateurs <span class="sr-only"></span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/themes">Liste Thèmes <span class="sr-only"></span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/questions">Liste Questions <span class="sr-only"></span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/quizz">Liste Quiz <span class="sr-only"></span></a>
    </li>
{% endblock %}

{% block body %}

    <h1 class="text-center">
        {% if admin is not null %}
            Modification de "{{ admin.username }}"
        {% else %}
            Création d'un admin
        {% endif %}

    </h1>


    <div class="container">

        {% set formUrl="/admin" %}

        {% if admin is not null %}
            {% set formUrl="/admin/" ~ admin.id %}
        {% endif %}

        <form action="{{ formUrl }}" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                {% if alert.username.0 is not null %}
                    <input type="text" class="form-control" id="username" name="username" value="" placeholder="{{ alert.username.0 }}">
                {% elseif admin is not null %}
                    <input type="text" class="form-control" id="username" name="username" value="{{ admin.username }}">
                {% elseif saveParams is not null %}
                    <input type="text" class="form-control" id="username" name="username" value="{{ saveParams.username }}">
                {% else %}
                    <input type="text" class="form-control" id="username" name="username" value="">
                {% endif %}
            </div>
            <div class="form-group">
                <label for="firstName">Prénom</label>
                {% if alert.firstName.0 is not null %}
                    <input type="text" class="form-control" id="firstName" name="firstName" value="" placeholder="{{ alert.firstName.0 }}">
                {% elseif admin is not null %}
                    <input type="text" class="form-control" id="firstName" name="firstName" value="{{ admin.firstname }}">
                {% elseif saveParams is not null %}
                    <input type="text" class="form-control" id="firstName" name="firstName" value="{{ saveParams.firstname }}">
                {% else %}
                    <input type="text" class="form-control" id="firstName" name="firstName" value="">
                {% endif %}
            </div>
            <div class="form-group">
                <label for="lastName">Nom</label>
                {% if alert.lastName.0 is not null %}
                    <input type="text" class="form-control" id="lastName" name="lastName" value="" placeholder="{{ alert.lastName.0 }}">
                {% elseif admin is not null %}
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{ admin.lastname }}">
                {% elseif saveParams is not null %}
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{ saveParams.lastname }}">
                {% else %}
                    <input type="text" class="form-control" id="lastName" name="lastName" value="">
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                {% if alert.email.0 is not null %}
                    <input type="text" class="form-control" id="email" name="email" value="" placeholder="{{ alert.email.0 }}">
                {% elseif admin is not null %}
                    <input type="text" class="form-control" id="email" name="email" value="{{ admin.email }}">
                {% elseif saveParams is not null %}
                    <input type="text" class="form-control" id="email" name="email" value="{{ saveParams.email }}">
                {% else %}
                    <input type="text" class="form-control" id="email" name="email" value="">
                {% endif %}
            </div>
            {% if admin is null %}
            <div class="form-group">
                <label for="password">Mot de passe</label>
                {% if alert.password is not null %}
                    <input type="text" class="form-control" id="password" name="password" value="" placeholder="{{ alert.password }}">
                {% elseif admin is not null %}
                    <input type="text" class="form-control" id="password" name="password" value="{{ admin.email }}">
                {% elseif saveParams is not null %}
                    <input type="text" class="form-control" id="password" name="password" value="{{ saveParams.password }}">
                {% else %}
                    <input type="password" class="form-control" id="password" name="password" value="" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                {% endif %}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
{% endblock %}
