{% extends 'layout.html.twig' %}

{% block title %}Liste des questions{% endblock %}

{% block css %}
    <link href="/css/pagination.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
        <a class="nav-link" href="/connexion-admin">Deconnexion<span class="sr-only"></span></a>
        
        <a class="nav-link" href="/admins">Liste Administrateurs <span class="sr-only"></span></a>
        
        <a class="nav-link" href="/users">Liste Utilisateurs <span class="sr-only"></span></a>

        <a class="nav-link" href="/themes">Liste Thèmes <span class="sr-only"></span></a>

        <li class="nav-item active">
            <a class="nav-link" href="#">Liste Questions <span class="sr-only"></span></a>
        </li>

        <a class="nav-link" href="/quizz">Liste Quiz <span class="sr-only"></span></a>
{% endblock %}


{% block body %}

    {% if theme is not null %}

        <h1 class="text-center">
            Liste des questions du thème {{ theme.nom }}
        </h1>

        <p class="text-center">
            <a href="/question" class="btn btn-success">Nouvelle question</a>
        </p>

        <div class="container">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Label</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <th scope="row">{{ question.id }}</th>
                        <td>{{ question.label }}</td>
                        <td>
                            <a href="/question/{{ question.id }}">modifier</a> -
                            <a href="#" data-id="{{ question.id }}" class="delete-question">supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="button-container">

            </div>
        </div>

    {% else %}

        <p class="text-center">
            <a href="/question" class="btn btn-success">Nouvelle question</a>
        </p>

        <div class="container">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Thème</th>
                    <th scope="col">Label</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <th scope="row">{{ question.id }}</th>
                        <td>{{ question.nom }}</td>
                        <td>{{ question.label }}</td>
                        <td>
                            <a href="/question/{{ question.id }}">modifier</a> -
                            <a href="#" data-id="{{ question.id }}" class="delete-question">supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="button-container">

            </div>
        </div>

    {% endif %}

{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/delete.js"></script>
    <script src="/js/pagination.js"></script>
{% endblock %}
