{% extends 'layout.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block css %}
    <link href="/css/pagination.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
        <a class="nav-link" href="/connexion-admin">Deconnexion<span class="sr-only"></span></a>
        
        <a class="nav-link" href="/admins">Liste Administrateurs <span class="sr-only">(current)</span></a>
        
        <li class="nav-item active">
            <a class="nav-link" href="#">Liste Utilisateurs <span class="sr-only"></span></a>
        </li>

        <a class="nav-link" href="/themes">Liste Thèmes <span class="sr-only"></span></a>

        <a class="nav-link" href="/questions">Liste Questions <span class="sr-only"></span></a>

        <a class="nav-link" href="/quizz">Liste Quiz <span class="sr-only"></span></a>
{% endblock %}


{% block body %}

    <p class="text-center">
        <a href="/users" class="btn btn-success">Nouvel utilisateur</a>
    </p>

    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Date de création</th>
                <th scope="col">Points</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.registerAt }}</td>
                    <td>{{ user.point }}</td>
                    <td>
                        <a {#href="/user/{{ user.id }}" #}>modifier</a> -
                        <a {# href="#" data-id="{{ user.id }}" #} class="delete-user">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="button-container">

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/pagination.js"></script>
{% endblock %}
