{% extends 'layout.html.twig' %}
{% block title %}
    {% if product != null %}
        {{ product.slug }} - {{ parent() }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            {{ render(controller('App\\Controller\\StoreController::listBrandsMenu', {'brandId': product.brand.id})) }}
        </div>

        <div class="col-md-9">
            {% if product != null %}
                <p class="lead">
                    Fiche descriptive " {{ product.name|capitalize }} "
                    <a href="{{ path('store_list_products') }}" class="btn btn-default pull-right">Retour aux produits</a>
                </p>

                {% for flash_type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ flash_type }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="row">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{ asset(product.image.url) }}" alt={{ product.image.alt }}>
                        <div class="caption-full">
                            <h4 class="pull-right"><span class="badge">120,00 €</span></h4>
                            <h3>{{ product.name|capitalize }}</h3>
                            <p>{{ product.description }}</p>
                            <p>{{ product.descriptionLongue }}</p>
                        </div>
                    </div>
                    <ul>
                        {% for color in product.colors %}
                            <li class="badge">{{ color.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="well">
                    <p class="pull-right label label-success">Actuellement {{ product.comments|length }} avis</p>
                    {% for comment in product.comments %}
                        <div class="row">
                            <div class="col-md-12">
                                <span class="label label-info">{{ comment.user.username }}</span>
                                <span class="label label-default pull-right">{{ comment.createdAt|date('Y-m-d') }}</span>
                                <p>{{ comment.message }}</p>
                            </div>
                        </div>

                        <hr/>
                    {% endfor %}
                    <div>
                        {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_errors(form.message) }}
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': form.message.vars.label, 'rows': 6} }) }}
                            </div>

                            <button type="submit" class="btn btn-info">Envoyer mon avis</button>
                        {{ form_end(form) }}
                    <div>
                </div>
            </div>
        </div>
    </div>

    <hr/>

{% endblock %}